body {
    
    background-color: rgba(8, 8, 8, 0.911);
}

.container-map {
    max-width: 1600px;
}

.container-jumbo {
    max-width: 1700px;
}

.card{
    max-width: 310px;
}

.footer {
    height: 80px;
    background-color: rgb(33, 37, 41);
    margin-top: 50px;
    position-anchor: bottom;
    bottom: 0;
    z-index: auto;
    width: 100%;
}


.menu-fix{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.margin-j {
    margin-top: 110px;
    margin-bottom: 24px;

}

.lenght {
    max-width: 1000px;
}

.height-card {
    height: 180px;
}

.logo {
    max-width: 115px;
    max-height: 115px;
}
.height-footer{
    height: 100px;
}

.image-l{
    transform: scaleX(-1);
    max-width: 150px;
    max-height: 150px;
}
.image-r{
    max-width: 150px;
    max-height: 150px;
}

.pad {
    padding-top: 40px;
}

.container-flex{
    display: flex;
}

@media screen and (max-width:1440px){
    .card-responsive{
        display: inline-block;
        margin-top: 10px;
        margin-inline-start:50px;
         }   
         

}
